<a class="p-2 break-inside-avoid block mb-4" href="{{ post.url }}">
  <div class="bg-cover min-h-[20vw] relative">
    <img src="{{ post.featured_image }}" alt="{{post.title}}" class="absolute inset-0 w-full h-full object-cover">
  </div>
  <div class="p-8 relative bg-stone-100">


    <h2 class="mt-1 font-sans uppercase text-xl tracking-tight"> {{ post.title }} </h2>
    <p class="line-clamp-2 tracking-wide mb-4"> {{ post.description }}</p>
    <p class="uppercase underline font-serif text-xl underline-offset-4 tracking-wider">
      Read More
    </p>

  </div>
</a>