<!DOCTYPE html>
<html>
    <head>
        <!------------ Technical Metadata ------------------------>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="default" />

        <!-- The title for SEO & browser tabs -->
        <title> RAMP | Business English Skills Training </title>

        <!-- Viewport meta tag -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- Gridlex -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css" />

        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css" integrity="sha512-WEQNv9d3+sqyHjrqUZobDhFARZDko2wpWdfcpv44lsypsSuMO0kHGd3MQ8rrsBn/Qa39VojphdU6CMkpJUmDVw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        <!-- Fontawesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        <!-- Google Fonts  -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet" />

        <!-- favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="/uploads/apple-touch-icon.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="/uploads/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="/uploads/favicon-16x16.png" />

        <!-- My own custom stylesheet -->
        <link rel="stylesheet" href="/style.css" />



    </head>
    <body>

        <header class="grid bg-dark">
            <div class="col-6_sm-12-middle padded-0 center-sm">
                <a href="/index">
                    <h4 style="max-width: 22rem;"> <img src="/images/logo1.png" /></h4>
                </a>
            </div>
                <div class="col-1_sm-12-middle right-sm show-sm">
                    <div class="hamburger-button">
                        <i class="fas fa-bars"></i>
                    </div>
                </div>

                <nav class="col-6_sm-12-middle right padded-0 center-sm hide-sm">
                    <a class="nav-space" href="/about"> About </a>
                    <a class="nav-space" href="/services"> Services </a>
                    <a class="nav-space" href="/learn"> Learn </a>
                    <a class="nav-space" href="/contact"> Contact </a>
                </nav>

                <nav class="mobile-menu bg-featured padded">
                    <a href="/index.html"> Home </a>
                    <a href="/about.html"> About </a>
                    <a href="/services.html"> Services </a>
                    <a href="/learn.html"> Learn </a>
                    <a href="/contact.html"> Contact </a>
                </nav>

        </header>


        {{content}}


        <!-- Footer  -->
        <footer class="grid bg-dark light-text padded padded-b-0" id="contact">
            <div class="col-6_sm-12 padded center-sm">
                <h2 style="max-width: 25rem;"> <img src="/images/logo1.png" /> </h2>
                <h4 class="editable light-text b sm-strong">
                    American Business English, Sales, Presentation, and Convention Skills Training
                </h4>
                <p class="editable light-text">
                    <i class="fas fa-envelope icon"></i> connect@rampbizenglish.com<br /> <i class="fas fa-phone icon"></i> +82-10-3361-0610
                </p>
            </div>
            <div class="col-6_sm-12-bottom padded right center-sm hide-sm">
                <h3 class="light-text"> Let's Connect. </h3>
                <nav>
                    <a href="https://www.linkedin.com/company/101993646/"> <i class="fab fa-linkedin"></i> </a>
                    <a href="https://www.facebook.com/profile.php?id=61558688188225"> <i class="fab fa-facebook-f"></i> </a>
                    <a href="#"> <i class="fab fa-twitter"></i> </a>
                </nav>
            </div>
            <div class="col-12 center padded-t">
                <p class="subtle"> Copyright 2024</p>
            </div>

        </footer>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js" integrity="sha512-n/4gHW3atM3QqRcbCn6ewmpxcLAHGaDjpEBu4xZd47N0W2oQ+6q7oc3PXstrJYXcbNU1OHdQ1T7pAP+gi5Yu8g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.js" integrity="sha512-C1zvdb9R55RAkl6xCLTPt+Wmcz6s+ccOvcr6G57lbm8M2fbgn2SUjUJbQ13fEyjuLViwe97uJvwa1EUf4F1Akw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

        <!-- animate on scroll -->
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-13R44XQDCT"></script>
        <script> window.dataLayer = window.dataLayer || []; function gtag() { dataLayer.push(arguments); } gtag('js', new Date()); gtag('config', 'G-13R44XQDCT'); </script>

        <script src="/main.js"> </script>

    </body>
</html>