---
layout: default
---


<section class="p-5p bg-cover bg-center flex items-center text-white min-h-80"
  style="background-image: url('{{page.banner-image}}')">
  <div class="light-text" style="color:{{page.banner-text-color}}">
    <h2 class="text-[10vw] font-light mb-12 leading-[0.9]" style="color:{{page.banner-text-color}}"> {{page.title}} </h2>
    <h3 class="text-2xl uppercase max-w-screen-sm" style="color:{{page.banner-text-color}}"> {{page.description}}</h3>
  </div>
</section>

<section class="px-5p py-8 flex justify-between items-center border border-bottom border-zinc-800">
  <p class="tag mb-0"> by {{ page.author }}</p>

  <h1 class="text-4xl m-0 uppercase"> {{ page.subtitle }} </h1>

  <p class="tag mb-0"> {{ page.date | date_to_string }} </p>

</section>

<section>


  <div class="intro pt-6 p-4 text-center margin-b-2 max-w-screen-lg mx-auto">

  </div>

  <div class="p-4 prose max-w-screen-lg mx-auto mb-8">

    {{content}}

  </div>



</section>
